# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
jspm_packages/
bower_components/
web_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Build and Output
build/
dist/
out/
.next
.nuxt
.docusaurus
.vuepress/dist
**/.vitepress/dist
**/.vitepress/cache

# Debug and Logs
logs
*.log
npm-debug.*
lerna-debug.log*
.pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Cache and Temporary
.cache/
.temp/
.parcel-cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.fusebox/
.dynamodb/
.serverless/
.grunt

# Test and Coverage
coverage/
*.lcov
.nyc_output
lib-cov/

# Environment and Config
.env
.env*.local
.env.production
.lock-wscript

# IDE and Editor
.vscode-test
*.tsbuildinfo
.tern-port

# TypeScript
*.tsbuildinfo

# System
.DS_Store
*.pem

# Optional Caches
.npm
.eslintcache
.stylelintcache
.node_repl_history

# Project Specific
app-example
